@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: conter;
  flex-direction: column;
  height: 100%;
  font-family: "Nunito", sans-serif;
  /* overflow: hidden; */
}

section {
  width: 100%;
  height: 100vh;
}

.titulo h1 {
  font-size: 70px;
  letter-spacing: 0.15em;
  text-shadow: 0.1em 0.1em 0.3em black;
  background: #ff0000;
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 25%,
    #05c1ff 50%,
    #ffff00 75%,
    #ff0000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cadastrar-sessao {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.formulario {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgb(241, 240, 240);
  width: 60vw;
  height: 30vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
}

.formulario form div.input {
  position: relative;
  width: 450px;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  font-size: 20px;
  height: 40px;
}

.formulario form div.input label {
  font-weight: 700;
  padding-top: 8px;
}

.formulario form div.input input {
  width: 60%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.formulario form div.input input:focus {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  outline: none;
}

.cadastrar button {
  width: 300px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: white;
  transition: all 0.5s ease;
  margin-bottom: 15px;
}

.cadastrar button:hover {
  background: rgb(219, 218, 218);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cadastrar button:disabled {
  box-shadow: none;
  background: white;
  cursor: default;
}
.cadastrar button:disabled:hover {
  box-shadow: none;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  margin-bottom: 50px;
}

.logos img {
  width: 100px;
}

.logos img#interhad {
  width: 150px;
}

.logos img#ic-unicamp {
  width: 120px;
}

.avaliacao-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.gender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 50vh;
  border-radius: 15px;
  background:rgb(241, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gender h3 {
  margin-top: 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  height: 20px;
}

.gender-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: 50vh;
  margin-top: 20px;
}

.gender-img img {
  width: 80px;
}

.gender img:hover{
  width: 180px; 
}

.gender-img img.emoji-selecionado {
  width: 180px;
}


.age {
  border-radius: 15px;
  width: 40vw;
  height: 50vh;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  background:rgb(241, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.age h3 {
  margin-top: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  height: 20px;
}

.data-age {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40vw;
  height: 50vh;
  margin-top: 20px;

}

.data-age input {
  font-size: 30px;
  height: 60px;
  width: 100px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
.data-age input:focus {
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  outline: none;
}

.btn-confirmar-data {
  margin-bottom: 80px;
  font-size: 50px;
  border-radius: 25px;
  background: white;
  padding: 10px;
  width: 400px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: none;
  transition: all 0.5s ease;
}

.btn-confirmar-data:hover {
  background: rgb(219, 218, 218);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
  
.btn-confirmar-data:disabled {
  cursor: not-allowed;
  background: white;
  box-shadow: none;
  color: white;
}

.btn-confirmar-data:hover:disabled {
  cursor: default;
  background: white;
  box-shadow: none;
}


.avaliacao {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

header {
  text-align: center;
  font-size: 3.5em;
  font-weight: 600;
  padding-top: 15px;
  margin-bottom: 50px;
  background-color: rgb(226, 226, 226);
  border-bottom: 10px solid black;
  box-shadow: 0 5px 5px #00000090;
  border-image: linear-gradient(to right, #05c1ff, #ffff00, red) 1;
}

header span {
  text-decoration: underline;
  font-style: italic;
}

.emojis {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 220px;
  background: rgb(241, 240, 240);

}

.emojis img {
  width: 80px;
}


.emojis img:hover {
  width: 200px;
  border-radius: 50%;
  background: transparent;
}

.emojis img.emoji-selecionado {
  width: 200px;
}

#emoji-sonolento:hover {
  border-top-right-radius: 0;
}

.buttons {
  text-align: center;
  margin-top: 50px;
}

.btn-confirmar {
  font-size: 50px;
  border-radius: 25px;
  background: white;
  padding: 10px;
  width: 400px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: none;
  transition: all 0.5s ease;
}

.btn-confirmar:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/* .btn-confirmar:disabled {
  cursor: not-allowed;
  background: white;
  box-shadow: none;
  color: white;
}

.btn-confirmar:hover:disabled {
  cursor: default;
  background: white;
  box-shadow: none;
} */

.btn-confirmar:disabled {
  box-shadow: none;
  background: rgb(241, 240, 240);
  cursor: default;
}
.btn-confirmar:disabled:hover {
  box-shadow: none;
}

.btn-emoji {
  background: rgb(241, 240, 240);
  border: none;
  height: 220px;
}

footer {
  font-size: 10px;
  text-align: center;
  background-color: rgb(226, 226, 226);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
}

.copyright h3 {
  padding-top: 10px;
  color: rgb(70, 69, 69);
}

.copyright h3 span {
  font-size: 15px;
  font-weight: 700;
}

.agradecimento {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.opcoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 20vh;
}

.btn-opcoes {
  width: 270px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: rgb(241, 240, 240);
  transition: all 0.5s ease;
  margin-bottom: 15px;
}

.btn-opcoes:hover {
  background: rgb(219, 218, 218);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
