* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: conter;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  font-size: 5em;
  font-weight: 600;
  padding-top: 25px;
  margin-bottom: 50px;
  background-color: aqua;
}
section {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.emojis {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 220px;
}

.emojis img {
  width: 80px;
  cursor: pointer;
}

.emojis img:hover {
  box-shadow: 0px 10px 20px #000000;
  width: 200px;
  border-radius: 50%;
  background: transparent;
}

.emojis img.emoji-selecionado {
  width: 200px;
}

#emoji-sonolento:hover {
  border-top-right-radius: 0;
}

.buttons {
  text-align: center;
  margin-top: 50px;
}

.btn-confirmar {
  font-size: 50px;
  border-radius: 25px;
  background: white;
  padding: 10px;
  width: 400px;
  cursor: pointer;
  box-shadow: 2px 10px 20px #000000;
  border: none;
  transition: all 0.5s ease;
}

/* .btn-confirmar:hover {
  background: red;
} */

.btn-confirmar:disabled {
  cursor: not-allowed;
  background: white;
  box-shadow: none;
  color: white;
}

.btn-confirmar:hover:disabled {
  cursor: default;
  background: white;
  box-shadow: none;
}

.btn-emoji {
  background: #fff;
  border: none;
}

footer {
  font-size: 10px;
  text-align: center;
  background: gray;
  margin-top: 50px;
}
